@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply text-zinc-600 dark:text-zinc-400;
    font-family: 'Inter', 'Poppins', 'Helvetica', 'Arial', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-900 dark:text-zinc-200;
  }

  hr {
    @apply border-zinc-100 dark:border-zinc-700/25;
  }
}

/* HEADER STYLING */
header .container-header {
  transition: transform 0.5s ease-in-out;
}
.scroll-down .container-header {
  transition: transform 0.5s ease-in-out;
  transform: translate3d(0, -200%, 0);
}
.scroll-up .container-header {
  transform: none;
}
/*PROSE STYLING*/
.dark .prose * {
  color: white;
}
.prose {
  font-family: 'Inter', 'Poppins', 'Helvetica', 'Arial', sans-serif;
}
.prose :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.prose :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.prose :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.prose :where(h4):not(:where([class~='not-prose'] *)) {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.prose :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.prose
  :where(:is(h2, h3, h4, h5, h6) + *):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 1.75rem;
}
.prose code {
  font-family: monospace;
}
.prose p {
  font-size: 1rem;
  line-height: 1.9em;
  color: rgba(0, 1, 0, 0.9);
}
/* Post Styling */
:root {
  --google-blue-700: 25, 103, 210;
  --google-brown-900: 62, 39, 35;
  --google-purple-700: 132, 48, 206;
  --google-yellow-50: 254, 247, 224;
  --google-yellow-100: 254, 239, 195;
}
.is-post-page blockquote,
.is-post-page caption,
.is-post-page dd,
.is-post-page dl,
.is-post-page fieldset,
.is-post-page figure,
.is-post-page form,
.is-post-page hr,
.is-post-page legend,
.is-post-page ol,
.is-post-page pre,
.is-post-page ul,
.is-post-page table,
.is-post-page td,
.is-post-page th {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.is-post-page sub,
.is-post-page sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.is-post-page sup {
  top: -0.5em;
}
.is-post-page sub {
  bottom: -0.25em;
}
.is-post-page table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}
.is-post-page td,
.is-post-page th {
  padding: 0.5rem;
}
.is-post-page .light {
  background-color: #fafafa;
  color: #424242;
}
.is-post-page .dark {
  background-color: #212121;
  color: #e0e0e0;
}
.is-post-page .sepia {
  background-color: #000;
  color: #000;
}
.is-post-page .light a:link {
  color: #55f;
}
.is-post-page .sepia a:link {
  color: #000;
}
.is-post-page .dark a:link {
  color: #88f;
}
.is-post-page .light a:visited {
  color: #902290;
}
.is-post-page .sepia a:visited {
  color: #000;
}
.is-post-page .dark a:visited {
  color: #d872d8;
}
.is-post-page .light code,
.is-post-page .light pre {
  background-color: #eee;
  border-color: #aaa;
}
.is-post-page .sepia code,
.is-post-page .sepia pre {
  background-color: #000;
  border-color: rgba(0, 1, 0);
}
.is-post-page .dark code,
.is-post-page .dark pre {
  background-color: #333;
  border-color: #555;
}
.is-post-page .light tbody tr:nth-child(odd) {
  background-color: #eee;
}
.is-post-page .light th,
.is-post-page .light td {
  border-left: 1px solid #aaa;
}
.is-post-page .sepia tbody tr:nth-child(odd) {
  background-color: #d9c4af;
}
.is-post-page .sepia th,
.is-post-page .sepia td {
  border-left: 1px solid #937d66;
}
.is-post-page .dark tbody tr:nth-child(odd) {
  background-color: #333;
}
.is-post-page .dark th,
.is-post-page .dark td {
  border-left: 1px solid #555;
}
.is-post-page #content-wrap th:first-child {
  border-left: none;
}
.is-post-page #content-wrap td:first-child {
  border-left: none;
}
.is-post-page .serif {
  font-family: serif;
}
.is-post-page .monospace {
  font-family: monospace;
}
.is-post-page blockquote,
.is-post-page caption,
.is-post-page code,
.is-post-page dd,
.is-post-page dl,
.is-post-page fieldset,
.is-post-page figure,
.is-post-page form,
.is-post-page hr,
.is-post-page legend,
.is-post-page ol,
.is-post-page p,
.is-post-page pre,
.is-post-page q,
.is-post-page table,
.is-post-page td,
.is-post-page th,
.is-post-page ul {
  margin-bottom: 1.143rem;
}

.is-post-page #loading-indicator {
  padding-bottom: 2em;
  width: 100%;
}
.is-post-page #loading-indicator > img,
.is-post-page #loading-indicator > svg {
  display: block;
  height: 2.5em;
  margin: auto;
  width: 2.5em;
}
.is-post-page video::-webkit-media-controls-fullscreen-button {
  display: none;
}
.is-post-page #content {
  margin: 24px 16px 24px 16px;
}
.is-post-page #article-header {
  margin-top: 24px;
  width: 100%;
}
.is-post-page #title-holder {
  font-size: 1.714rem;
  line-height: 1.417;
  margin: 0 16px;
}
.is-post-page blockquote {
  border-left: 4px solid #888;
  padding-left: 1em;
  margin-top: 2rem;
}
.is-post-page cite {
  font-style: italic;
  opacity: 0.8;
}
.is-post-page hr {
  border-style: solid;
  height: 1px 0 0 0;
  opacity: 0.5;
  width: 75%;
}
.is-post-page q {
  display: block;
  font-style: italic;
  font-weight: 600;
  opacity: 0.8;
}
.is-post-page embed,
.is-post-page img,
.is-post-page object,
.is-post-page video {
  max-width: 100%;
}
.is-post-page img {
  display: block;
  height: auto;
  margin: 0.6rem auto 0.4rem auto;
}
.is-post-page embed + [class*='caption'],
.is-post-page figcaption,
.is-post-page img + [class*='caption'],
.is-post-page object + [class*='caption'],
.is-post-page video + [class*='caption'] {
  display: table;
  font-size: 0.857rem;
  line-height: 1.667;
  margin-bottom: 1rem;
  opacity: 0.8;
}
.is-post-page ol,
.is-post-page ul {
  margin-left: 1.296rem;
}
.is-post-page code,
.is-post-page pre {
  border: 1px solid;
  border-radius: 2px;
}
.is-post-page pre code {
  border: none;
  color: aliceblue;
}
.is-post-page pre {
  line-height: 1.642;
  padding: 0.5em;
  white-space: pre-wrap;
}
.is-post-page .hidden {
  display: none;
}
.is-post-page .clear {
  clear: both;
}
.is-post-page .youtubeContainer {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
.is-post-page .youtubeIframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.is-post-page .desktop-only {
  display: none;
}
/* BOOKMARKS */
.kg-bookmark-card {
  width: 100%;
  margin: 0 0 2em;
}
.kg-bookmark-container {
  display: flex;
  text-decoration: none;
  min-height: 10em;
  background: #eee;
  border: 0 !important;
  overflow: hidden;
}
.kg-bookmark-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5em;
  color: #aaa;
}
.kg-bookmark-title {
  color: #aaa;
  font-size: 0.75em;
  line-height: 2em;
  font-weight: 700;
}
.kg-bookmark-description {
  display: -webkit-box;
  font-size: 0.75em;
  line-height: 1.66666em;
  font-weight: 400;
  margin: 0.5em 0 1em;
  max-height: 3.33333em;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}
.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.kg-bookmark-metadata {
  display: flex;
  align-items: center;
  font-size: 0.75em;
  line-height: 1.66666em;
  color: #777;
  font-weight: 400;
  margin-top: 1em;
  flex-wrap: wrap;
}
.kg-bookmark-icon {
  width: 1.33333em;
  height: 1.33333em;
  margin: 0 0.75em 0 0;
}
.kg-bookmark-author:after {
  content: '•';
  margin: 0 0.33333em;
}
.kg-bookmark-publisher {
  color: blue;
}
@media (max-width: 768px) {
  .kg-bookmark-container {
    flex-direction: column;
  }
  .kg-bookmark-thumbnail {
    order: 1;
    width: 100%;
    min-height: 160px;
  }
  .kg-bookmark-thumbnail img {
    border-radius: 3px 3px 0 0;
  }
  .kg-bookmark-content {
    order: 2;
  }
}
/* POST HEADER */
.kg-header-card {
  text-align: center;
  background-color: #0301;
  padding: 1rem;
  border-radius: 0.7rem;
}

.kg-header-card > .kg-header-card-header {
  margin-top: 1rem;
}
